spring:
  application:
    name: layered-application
  docker:
    compose:
      lifecycle-management: start_only
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

server:
  port: 8080
